header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}

.parent {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav ul li a {
    padding: .7rem 2rem;
    font-size: .8rem;
  } // end nav

  //add loop

  @for $i from 1 through 12 {
    $w: calc($i / 12) * 100%;
    .large-#{$i} {flex-basis: $w;}
  }