header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}

.parent {
    grid-template-columns: 1fr 1fr;
  }

nav {

    ul {
        display: flex;
    } // end ul
    ul li a {
        border: none;
    }

} // end nav

// add loop med.

@for $i from 1 through 12 {
    $w: calc($i / 12) * 100%;
    .medium-#{$i} {flex-basis: $w;}
  }