header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}

.parent {
    grid-template-columns: 1fr 1fr;
  }

nav {

    ul {
        display: flex;
    } // end ul
    ul li a {
        border: none;
    }

} // end nav